@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* > *{
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.input-text {
  @apply mt-1 block w-60 px-3 py-2 bg-white border border-slate-300 rounded-full text-sm shadow-sm placeholder-slate-500;
  @apply focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500;
}

.loader{
  @apply border-gray-200 rounded-full border-4 ease-linear h-10 w-10;
  border-top-color: #363ce0;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner{
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}